name: Unit-Tests
on:
  push:
    paths:
      - 'go.mod'
      - '**.go'

jobs:

  test:
    name: Test on go ${{ matrix.go_version }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go_version: [1.13, 1.14, 1.15, 1.16, 1.17]

    steps:
    - name: Check out code
      uses: actions/checkout@v3
    # https://github.com/actions/setup-go
    - name: Use Go ${{ matrix.go_version }}
      timeout-minutes: 5
      uses: actions/setup-go@v2
      with:
        go-version: ${{ matrix.go_version }}

    - name: Run unit tests
      #      run: go test -v -cover ./...
      #      must add " for profile.cov on windows OS
      run: go test -v -coverprofile="profile.cov" ./...

    - name: Send coverage
      uses: shogo82148/actions-goveralls@v1
      with:
        path-to-profile: profile.cov
        flag-name: Go-${{ matrix.go_version }}
        parallel: true

  # notifies that all test jobs are finished.
  # https://github.com/shogo82148/actions-goveralls
  finish:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - uses: shogo82148/actions-goveralls@v1
        with:
          parallel-finished: true