name: Unit-Tests
on:
  pull_request:
    paths:
      - 'go.mod'
      - '**.go'
      - '**.yml'
  push:
    paths:
      - '**.go'
      - 'go.mod'
      - '**.yml'

jobs:

  test:
    name: Test on go ${{ matrix.go_version }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go_version: [1.16, 1.17, 1.18, 1.19]

    steps:
    - name: Check out code
      uses: actions/checkout@v3

    - name: Setup Go Faster
      uses: WillAbides/setup-go-faster@v1.7.0
      timeout-minutes: 3
      with:
        go-version: ${{ matrix.go_version }}

    - name: Revive check
      uses: morphy2k/revive-action@v2.4.0
      with:
        # Exclude patterns, separated by semicolons (optional)
        exclude: "./_examples/..."

    - name: Run static check
      uses: reviewdog/action-staticcheck@v1
      if: ${{ github.event_name == 'pull_request'}}
      with:
        github_token: ${{ secrets.github_token }}
        # Change reviewdog reporter if you need [github-pr-check,github-check,github-pr-review].
        reporter: github-pr-check
        # Report all results. [added,diff_context,file,nofilter].
        filter_mode: added
        # Exit with 1 when it find at least one finding.
        fail_on_error: true

    - name: Run unit tests
      #      run: go test -v -cover ./...
      #      must add " for profile.cov on windows OS
      run: go test -v -coverprofile="profile.cov" ./...

    - name: Send coverage
      uses: shogo82148/actions-goveralls@v1
      with:
        path-to-profile: profile.cov
        flag-name: Go-${{ matrix.go_version }}
        parallel: true

  # notifies that all test jobs are finished.
  # https://github.com/shogo82148/actions-goveralls
  finish:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - uses: shogo82148/actions-goveralls@v1
        with:
          parallel-finished: true